@model List<passionproject_2.Models.Bodytypes>
@{
    ViewBag.Title = "Add";
}

<h2>Add Car Body Type</h2>

<form method="POST" action="/Bodytypes/Add">
    <input type="text" name="BodytypeName" id="BodytypeName" /><br />
    <input type="submit" value="Add Car Body Type" />
</form>

