@model passionproject_2.Models.Brands
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<div class="navbar">
    <a class="navlink" href="/Brands/List">Back to List</a>
    <a class="navlink" href="/Brands/Update/@Model.BrandID">Update</a>
    <a class="navlink" href="/Brands/Delete/@Model.BrandID">Delete</a>
</div>
